/* Styles go here */
.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 15px;
    width: 300px;
  height: 175px;
    background-color: black;
}
.image{
    object-fit: fill;
    /*flex-shrink: 0;
    min-width: 100%;
    min-height: 100%*/
}


body {
    font-family: 'Dosis', sans-serif;
}
.title{
    color: white;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
}